<nav class="navbar bg-body-tertiary py-3 px-4">
  <div class="container-fluid d-flex justify-content-between">
    <h1 class="navbar-brand" routerLink="/home">ShoppiHR</h1>
    <div class="justify-content-between">
      <ul class="navbar-nav d-flex flex-row">
        <li class="mx-3">
          <a class="nav-link" routerLink="/home">Home</a>
        </li>
        <li class="mx-3">
          <a class="nav-link" routerLink="/managment">Management</a>
        </li>
        <li class="mx-3">
          <a class="nav-link" routerLink="/about">About</a>
        </li>
        <li class="mx-3" *ngIf="!(authService.isLoggedIn$ | async)">
          <a routerLink="/login" class="btn btn-primary">Login</a>
        </li>
        <li class="mx-3" *ngIf="authService.isLoggedIn$ | async">
          <button (click)="onLogout()" class="btn btn-outline-primary">Logout</button>
        </li>
      </ul>
    </div>
  </div>
</nav>
